# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Android
*.jks
*.keystore
local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework

# Misc
*.iml
*.log

android/key.properties
android/app/lifelens-release-key.jks